ul {
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    background-color: gray;
    padding: 14px 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}