ul {
    overflow-y: scroll;
    /* margin-left: auto;
    margin-right: auto; */
    width: 70vb;
    flex-grow: 1;
    margin-top: 20px;
    scrollbar-width: none;
}

ul * {
    background-color: gray;
}

li {
    list-style-type: none;
    
    padding: 14px 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.btn-channel {
    flex-grow: 1;
    border: 0;
    color: black;
    width: 50%;
}
