.container {
  margin-left: auto;
  margin-right: auto;

  height: 99vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.btn-like {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  flex-grow: 1;
}

.div-button {
  display: flex;
  margin-bottom: 60px;
}