body {
  margin: 0;
  display: flex;
  place-items: start;
  width: 600px;
  min-height: 600px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px;
}

#root {
  display: flex;
  flex-grow: 1;
  min-height: 610px;
  
}

#root.day-mode {
  background-color: #b9da6d;
}

#root.dark-mode {
  background-color: rgba(0, 0, 0, 0);
}